  <section>
    <article>
      <h3>Why MiChefs?</h3>
      <p>
        Hello my name is Trang Tran. I am the CEO/Founder of MiChefs Network. We are a passionate group of chefs who are about to change the face of the culinary world as we all know it to be. We are not a round table of marketing experts trying deliver highly demanded food and beverage related content to individuals who want to learn about cooking. Cumulatively, we have well over 100 years of experience as higher level professional chefs. 
      </p>
      <p>
        With our unique concept and innovative platform we will bring to you, the home cook, what has been said to be a heightened online culinary experience. This is a way for us to share with you our life's work. We have devoted our lives to food, cooking, and the joys of feeding people. Helps us bring our knowledge and passion to you.
      </p>
      <p>
        By supporting MiChefs Network, you will help us bring this dream to life.
      </p>
    </article>
  </section>
  <section>
    <article>
      <h3>Who We Are!</h3>
      <p>Have a passion for cooking? Welcome to MiChefs Network and the future of cooking at home. Watch, learn, share and create with our interactive media platform available wherever YOU are.</p>
      <p>MiChefs Network integrates social media with streaming technology to provide our members with an all-inclusive experience that is unparalleled. Watch original shows, browse tutorial videos, receive training from our MiChefs Culinary Academy, or simply search through our library of recipes, the experience is yours to create!</p>
      <p>MiChefs Network creates truly interactive engagement for its users. As a MiChefs member, you can stream original content or search MiChef’s wealth of online recipes and with this exclusive membership you have the ability to communicate directly with friends and family or one-on-one with a network chef. All with the simple click of a social link AND all remotely from your desktop or preferred mobile device.</p>
      <p>Don't have all the items you need to prepare a favorite recipe featured on MiChefs Network? Simply enter our store and shop for everything you need.  When you’re done shopping, check out and everything will be delivered right to your front door.</p>
      <p>Want to be a part of MiChefs Network? Join our Community! Consider one of the five perk options and help us revolutionize how home cooks learn to create delicious meals. Any donation value, large or small, will help MiChefs Network come to life! 100% of all contributions received will be used to support the development of our interactive media platform and the production of content for our site.</p>
      <p>Family, friends, community and YOU are what will make MiChefs Network a success. So let’s cook together!</p>
    </article>
  </section>

<section>
<article>

  <h3>Our Chefs!</h3>

  <img src=<%= image_path("chefs/lee.jpg") %> class="img-responsive">
  <h4>Lee Levig Jr.</h4>

<p>
  Chef Lee Levig has studied under some of the top chefs in the world including Thomas Keller and Bradley Ogden both, Michelin Star chefs and James Beard award winners. Lee has roots in California where he studied at the acclaimed California Culinary Academy. Currently Chef Lee is the Executive Chef for Bradley Ogden Hospitality, a career that allows him to travel from Las Vegas, Houston, Texas to California, managing operations and all seasonal menus for multiple restaurant concepts that scale the spectrum from fast casual to fine dining.
</p>
  
  <p>
  Food philosophy: “Food is the purest form of art. Food is one of the only mediums you experience with all five of your senses - you see it, touch it, hear it, smell it and taste it. It can be both comforting and intimidating. Food can create emotion, bring back pleasant memories and establish new ones. The ability to create something special that anyone can appreciate me is what excites me about what I do.”  
  </p>

  
<p>
  Lee's passion for food and desire to share what he loves with the world makes him the perfect addition to the MiChefs team.  Chef Lee believes the more information about food and cooking, that is readily available the more people will be able to enjoy it together.  "The access that MiChefs Network is creating really is the future of culinary media. It gives the home cook not only the ability to share among each other, but also direct access to a wealth of information including access to what I know and essentially me - and that's what I'm most excited about."
</p>
  
</article>
</section>


  <img src=<%= image_path("chefs/kerth.jpg") %> class="img-responsive">
  <h4>Kerth Gumbs</h4>
<p>Chef Kerth Gumbs is a London based chef whose training at Le Cordon Bleu launched a hailed culinary career. His early experiences working with top celebrity chefs Tom Aikens and Joel Robuchon, allowed him to master the art of cooking.  His success in the London culinary scene landed him in top positions at London’s most celebrated restaurant Wolesley followed by the Hilton Park Lane, a 5 star hotel.  Kerth spent 2 years traveling and working in Asia, studying new flavors and techniques and currently resides back in London where he is planning his new venture and working on collaborative projects… MiChefs included!
</p>
  
  <p>
    Food philosophy: “Human beings create life and food is the source that maintains it. One cannot do without the other.”  
  </p>
  
<p>
  Chef Kerth has been involved in various high profile culinary events, including the Taste of London and charity functions and dinners for members of the Royal Family. His knowledge and expertise of his craft will undoubtedly bring enormous value to the MiChefs team and the user experience of MiChefs Network members.  "MiChefs Network will help pave the way for chefs and home cooks to receive culinary content in a way that hasn't been done before; to get inspiration, and education, from young to the elderly, the untrained to the skilled chef, MiChefs offers a gateway to an exceptional culinary platform accessible to everyone."
</p>
  



  <img src=<%= image_path("chefs/kenji.jpg") %> class="img-responsive">
  <h4>Kenji Hurlburt</h4>
<p>
   Currently the Executive Chef of the critically acclaimed restaurant The Queens Kickshaw in NYC, Chef Kenji has been featured in notable publications like Esquire Magazine, Bon Apetit and New York Magazine. With an education at the world-renowned Culinary institute of America and experience studying under Alfred Portale and Geoffrey Zakarian, Kenji utilizes classical French cuisine and new American techniques to produce food steeped in simple, yet bold flavors. His passion for sustainable product, found all over the world creates an elevated food profile, made with love, from start to finish. 
</p>

<p>
  Food philosophy: “Everyone has to eat. But creating food that is evolved beyond merely satiating - to evoke emotion, invite experience, and create a memory - that is what drives me to make the best food I can, everyday, without falter.”
</p>

<p>
  Kenji became a member of the MiChefs family almost upon inception.  "I'm incredibly excited to be part of something that could break the barrier between home cook and professional chef. A social media platform, a streaming network, a vast recipe library all found in one central location - can demystify the daunting techniques that stand between home cooks and their ability to create truly amazing things. It is a platform that could truly change the way people cook and eat. How fortunate am I to be part of this potential revolution!"
</p>
  
  <img src=<%= image_path("chefs/christian.jpg") %> class="img-responsive">
  <h4>Christian Dolias</h4>
  
  <p>
  A self-taught chef and founder of the underground cooking collective CutThroat Culinary, Chef Christian Dolias made his mark on the Las Vegas food scene with his flare for Mexican cuisine. Chef Dolias loves to share his uncompressed passion for food and the excitement that comes from creating - pouring his soul into every dish he creates.  
  </p>

  
<p>
  Food Philosophy: “Evolution is everything. We as chefs are responsible for the growth and development of cuisine as well as the experience it creates. A dish to a chef should be as unique as a fingerprint. “
</p>
  
<p>
  Christian has appeared on Food Network's "Chopped" as well as FYI's "Late Night Chef Fight" and is looking forward to bringing his flare and style to the MiChefs team. His unique personality - as well as his occasional colorful language - is sure to add excitement to the MiChefs streaming network. "I'm f---ing super stoked to be involved in this amazing project. Nothing like it exists at this level and what a great forum to share my passion with the home cook."
</p>
  


  <img src=<%= image_path("chefs/sean.jpg") %> class="img-responsive">
  <h4>Sean Collins</h4>

<p>
  Chef Sean Collins is known for highlighting freshness and quality of ingredients in his cuisine. Sean developed his passion for fresh ingredients at the beginning of his career at renowned Japonais in Chicago. There, he learned the art of Japanese cooking and believes Japanese chefs have made an art out of taking quality ingredients and pairing them with compatible seasoning, creating a truly fresh dish that focuses on the original product.
</p>
  

  <p>
  Food philosophy: "There are very few jobs or careers in which you get to see such an immediate reaction to all the hard work you put in. To see a customer satisfied the moment they receive a plate is a feeling like none other. Even when cooking at home, to be able to immediately put a smile on someone's face is truly gratifying."  
  </p>

  

<p>
  Continuing his culinary career, Sean was instrumental as the opening Chef for the critically acclaimed restaurant Rose.Rabbit.Lie in Las Vegas. As a valued member of the MiChefs team, Sean hopes to share his knowledge and help people create amazing food that not only tastes great but is also great for you. “While there are many companies out there, none of them compare to Michefs Network. From the Michef’s cross media set-up, to the interactive ability, the global reach is unimaginable.  This really is the first media cooking platform to create a complete tool for people to use that is still rooted in the principle idea - to make good food.”
</p>

<img src=<%= image_path("chefs/erick.jpg") %> class="img-responsive">
<h4>Erick Simmons</h4>
  
  <p>
  Chef Erick Simmons studied at the California School of Culinary Arts and has worked under accomplished chefs like David Lentz, Suzanne Goin, and Rick Moonen. Chef Erick launched a promising career as a Sous Chef for Bradley Ogden Restaurant in Las Vegas. His talents placed him at the head of acclaimed restaurants like MK Restaurant in Chicago, RM Seafood in Las Vegas and landed him a James Beard Award for his work at Mohwak Bend & Tony Dart’s Away in Los Angeles.  
  </p>
  

<p>
  Food Philosophy: “If it grows together, it goes together. When cooking in the season, there is very little a chef could do wrong when selecting ingredients. And do as little to the ingredients as possible, meaning don’t over manipulate them – let the carrots, be carrots.
</p>
  

<p>
  Chef Erick, most currently, was the Executive Chef and partner at Restauration in Long Beach, California where he shares his passion for wood-fired food and American seafood. He is currently working as a chef consultant in the LA area. His talents in the kitchen and years of experience are a great addition to the MiChefs team and his knowledge will undoubtedly be an asset. “I’m really excited to be a part of MiChefs and extremely happy to see a former colleague see success not only in the kitchen but on “big vision” ideas too.”
</p>
  
</article>
</section>
<section>
  <h3>Our Management Team</h3>

  <img src=<%= image_path("chefs/trang.jpg") %> class="img-responsive">
  <h4>Trang Q. Tran - Founder/CEO</h4>
  <p>
    Chef Trang Tran has been in the food and beverage industry for over 20 years and has studied under renowned chefs like Bradley Ogden and Gary Menes as well as celebrity chefs Suzanne Goin and Wolfgang Puck. In her many years in the culinary industry, Trang has operated some of the largest venues in Las Vegas and California. She has worked in numerous James Beard Award winning, as well Forbes 5 star and Michelin rated establishments. She has been highlighted in cookbooks and syndicated for her food writing.
  </p>
  <p>
  Trang considers herself a “guest-motivated” chef, cooking for the satisfaction of the consumer rather than her ego. Her passion for the guest experience, coupled with her self-admitted social media obsession, shaped the vision of MiChefs as an all-inclusive interactive media platform for the home cook. “I have always been intrigued by social media, its revolutionary impact on marketing, advertising, and the human interaction. As years passed, I realized the knowledge I had acquired had larger value in the marketplace. I asked myself, ‘How can I share my passion and communicate this information to people who want to learn?’ And thus, MiChefs was born.”  
  </p>
  <p>
  Trang’s wealth of knowledge in the culinary industry, career’s worth of connections and her passion for the home cook and guest experience has positioned her well as the CEO and visionary behind MiChefs Network. “Success, to me, for MiChefs Network is our ability to provide a culinary experience to our users, conveying our passion for food, desire to teach, and our need to share globally. Michefs Network will impact the culinary world in every sense. We will change how the world eats and views food; enriching peoples lives through what we are all passionate about – the food.”
  </p>
</section>