<div class="modal-content signup_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title hidden">Register</h4>
  </div>
  <div class="modal-body registration_box">
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12"> 
        <img class="registration_box_logo" src="/assets/logo.png">
        <div class="sign_up_notice">
          <strong class="text-capitalize">Sign up</strong> to browse or search thousands of recipes, cooking tips, how-to food videos and a lot more. <br /> <br />
          At MiChef you’re sure to find something delicious for every occassion.
        </div>
        <%= link_to "login" ,new_session_path(@user),id: "log_in" %>    
      </div>
      <div class="registration_form_container col-lg-7 col-md-7 col-sm-7 col-xs-12">
        <%= form_for(@user, as: @user, class: "email-signup", url: registration_path(@user)) do |f| %>
        <%#= devise_error_messages! %>
        <div class="u-form-group user_full_name">
          <div class="firstName">
            <%= f.text_field :first_name ,:placeholder =>"First Name" %>
            <span class="error-message text-danger"><%= show_errors(@user, :first_name) %></span>
          </div>
          <div class="lastName">
            <%= f.text_field :last_name ,:placeholder =>"Last Name" %>
            <span class="error-message text-danger"><%= show_errors(@user, :last_name) %></span>
          </div>
        </div>

        <div class="u-form-group user_name">
          <%= f.text_field :username ,:placeholder =>"Username"%>
          <span class="error-message text-danger"><%= show_errors(@user, :username) %></span>
          <div class="styled-select">
            <%= f.select :gender ,[['Male','male'],['Female','female']],class: "user_gender"%>              
          </div>
        </div> 
        <div class="u-form-group">
          <%= f.email_field :email, autofocus: true,:placeholder =>"Email" %>
          <span class="error-message text-danger"><%= show_errors(@user, :email) %></span>
        </div> 

        <div class="u-form-group new_password">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off",:placeholder =>"Password" %>
          <span class="error-message text-danger"><%= show_errors(@user, :password) %></span>
        </div>
        <div class="u-form-group confirm_password">
          <%= f.password_field :password_confirmation, autocomplete: "off" ,
          :placeholder =>"Retype password"%>
          <span class="error-message text-danger"><%= show_errors(@user, :password_confirmation) %></span>
        </div> 
        <div class="u-form-group">
          <%#= f.submit "Create an account",class: "text-capitalize" %>
          <button class="text-capitalize register_button">Create an account</button>
        </div>
        <div class="text-center">
          By signing up, I agree to MiChef's 
          <a class="terms_and_conditions" href="">Terms and Conditions</a>
        </div>
        <%end%>
      </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
