<%= render partial: "layouts/partials/header"%>
<%= render partial: "homes/carousel_container"%>
<div class="clearfix"></div>

<%= render partial: "homes/popular_articles"%>

<%= render partial: "homes/upcoming_event"%>


<%= render partial: "homes/food_news"%>


<%= render partial: "layouts/partials/footer"%>

<%= render partial: "homes/main_modal"%>



<script type="text/javascript">
</script>