<footer class="container-fluid footer">
  <div class="footer_text">Follow MiChef On</div>
  <div class="footer_links text-center">

  	<a href=""><img src=<%= image_path("social/pinterest.png") %> alt="pinterest"/></a>
  	<a href=""><img src=<%= image_path("social/twitter.png") %> alt="twitter"/></a>
  	<a href=""><img src=<%= image_path("social/facebook.png") %> alt="facebook"/></a>
  	<a href=""><img src=<%= image_path("social/googleplus.png") %> alt="googleplus"/></a>
  	<a href=""><img src=<%= image_path("social/youtube.png") %> alt="youtube"/></a>
  </div>
</footer>